<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.db.mapper.LitemallGrouponMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mall.db.domain.LitemallGroupon">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="groupon_id" property="grouponId" />
        <result column="rules_id" property="rulesId" />
        <result column="user_id" property="userId" />
        <result column="share_url" property="shareUrl" />
        <result column="creator_user_id" property="creatorUserId" />
        <result column="creator_user_time" property="creatorUserTime" />
        <result column="status" property="status" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, groupon_id, rules_id, user_id, share_url, creator_user_id, creator_user_time, status, add_time, update_time, deleted
    </sql>

</mapper>
