<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.db.mapper.LitemallCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mall.db.domain.LitemallComment">
        <id column="id" property="id" />
        <result column="value_id" property="valueId" />
        <result column="type" property="type" />
        <result column="content" property="content" />
        <result column="admin_content" property="adminContent" />
        <result column="user_id" property="userId" />
        <result column="has_picture" property="hasPicture" />
        <result column="pic_urls" property="picUrls" />
        <result column="star" property="star" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, value_id, type, content, admin_content, user_id, has_picture, pic_urls, star, add_time, update_time, deleted
    </sql>

</mapper>
